{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block pre_root_container %}
    {% if not user.is_authenticated %}
        <section class="hero-section">
            <div class="hero-content container">
                <div class="hero-text">
                    <h1 class="text-relate">{% blocktrans with RELATE=relate_site_name %}Your Journey To Success Begins
                        Here{% endblocktrans %}</h1>

                    <p>Get Access to Learning Material and Take Control of Your Learning Journey.</p>
                    <div style="display: flex; column-gap: .5rem; margin-top: 3rem;" class="hero-cta-btn">
                        <a style="display: inline-flex; column-gap: .3rem;" class="btn btn-primary"
                           href="{% url 'relate-sign_up' %}">
                            Get Started
                            {% comment %} <img style='height: 1.5rem; width: 1.5rem;' src='{% static 'img/arrow-right.svg' %}'> {% endcomment %}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z"
                                      fill="white"/>
                            </svg>
                        </a>
                        <a style="display: inline-flex; column-gap: .3rem;" class="btn"
                           href="{% url student_sign_in_view %}">
                            Explore Courses
                            {% comment %} <img style='height: 1.5rem; width: 1.5rem;' src='{% static 'img/arrow-right.svg' %}'> {% endcomment %}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z"
                                      fill="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hero-img">
                    <img src='{% static 'images/hero-image.webp' %}'>
                </div>
            </div>
        </section>

        <section class="home-course-categories">
            <div class="container home-course-categories-content">
                <h3 class="text-relate">Featured</h3>
                <p style="margin: 1rem 0;">Ready to learn 👋.</p>
                <div class="course-categories">
                    <div class="category">
                        <h3 class="text-relate">Mathematics</h3>
                    </div>

                    <div class="category">
                        <h3 class="text-relate">Computer Science</h3>
                    </div>

                    <div class="category">
                        <h3 class="text-relate">Physics</h3>
                    </div>

                    <div class="category">
                        <h3 class="text-relate">Chemistry</h3>
                    </div>


                    <div class="category">
                        <h3 class="text-relate">Biology</h3>
                    </div>


                </div>
            </div>
        </section>


        {% include 'course/components/footer.html' %}


    {% endif %}


{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
        <section style="padding-top: 1rem !important;">
            {% block cover %}
                {% if user.is_authenticated and user.is_staff %}
                    <div class="mb-5"><a class="btn btn-outline-primary" href="{% url 'relate-set_up_new_course' %}"
                                         role="button">{% trans "Set up new course" %} &raquo;</a></div>
                {% endif %}
            {% endblock %}
            {% block course_list %}
                {% if current_courses or past_courses %}
                    {% block current_course_list %}
                        {% if current_courses %}
                            <div class="d-flex mb-1 flex-wrap">
                                {% for course in current_courses %}

                                    <a class="text-decoration-none "
                                       href="{% url 'relate-course_page' course.identifier %}">
                                        <div class="card me-3 mb-3" style="width: 18rem;">
                                            {#                                        <h5 class="card-header">{{ course.name }}</h5>#}
                                            <div class="card-body">
                                                <h5 class="">{{ course.name }}</h5>
                                                <p class="text-muted card-text">{{ course.number }} </p> {% comment %}{{ course.time_period }}{% endcomment %}
                                                {% comment %}<a class="btn btn-primary"
                                                   href="{% url 'relate-course_page' course.identifier %}"
                                                   role="button">{% trans "View" %} &raquo;</a>{% endcomment %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}
                    {% if past_courses %}
                        {% block past_course_list %}
                            <h3>{% trans "Past Courses" %}</h3>
                            <table class="table table-condensed">
                                <tr>
                                    <th>Number</th>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Time</th>
                                </tr>
                                {% for course in past_courses %}
                                    <tr
                                            {% if not course.accepts_enrollment or course.hidden %}
                                                class="text-muted"
                                            {% endif %}
                                    >
                                        <td><a class="link-secondary"
                                               href="{% url 'relate-course_page' course.identifier %}">{{ course.number }}</a>
                                        </td>
                                        <td><a class="link-secondary"
                                               href="{% url 'relate-course_page' course.identifier %}">{{ course.time_period }}</a>
                                        </td>
                                        <td>{{ course.name }}</td>
                                        <td>{% if course.start_date %}{{ course.start_date }}{% endif %}
                                            {% if course.start_date or course.end_date %} - {% endif %}
                                            {% if course.end_date %}{{ course.end_date }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endblock %}
                    {% endif %}
                {% else %}
                    {% blocktrans trimmed with RELATE=relate_site_name %} No subjects to show
                    {% endblocktrans %}
                    {% if not user.is_authenticated %}
                        {% url "relate-sign_in_by_user_pw" as relate-sign_in_by_user_pw %}
                        {% blocktrans trimmed %}
                            <a href="{{ relate-sign_in_by_user_pw }}">Sign in</a> to get started.
                        {% endblocktrans %}
                    {% endif %}
                {% endif %}

            {% endblock %}

        </section>
    {% endif %}
{% endblock %}
