{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="">
        {% comment %} <div class="col-lg-5 d-none d-lg-block pt-5 px-3">
          <img src="{% static "images/creativity.svg" %}" class="img-fluid">
        </div>{% endcomment %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="mt-5">
{#                <h4 class="mb-4 text-secondary">{% trans "Sign In with Email" %}</h4>#}
                {#        <hr>#}

                {% comment %}<div class="alert alert-warning">
                <i class="bi bi-exclamation-triangle"></i>
                      Translators: For courses which require specific email suffix for enrollment, translate the following literals
                  with your customized email suffix.

                {% blocktrans trimmed %}
                  Please use the <em>official</em> email address associated with the
                  institution at which this course is taking place. Some courses
                  may require a certain email domain (such as "@illinois.edu") for
                  enrollment.
                {% endblocktrans %}
              </div>{% endcomment %}

                <div class="">
                    {% crispy form %}
                </div>

                {% if relate_sign_in_by_exam_tickets_enabled or relate_sign_in_by_username_enabled %}
                    <div class="mt-4">
                        {#            <i class="bi bi-chevron-left"></i>#}
                        {% url "relate-sign_in_choice" as relate-sign_in_choice %}
                        {% blocktrans trimmed %}
                            Select a different  <a href='{{ relate-sign_in_choice }}'>login method</a>
                        {% endblocktrans %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
