{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
  {{ form_description }} - {{ relate_site_name }}
{% endblock %}

{# keep this in sync with course/templates/course/generic-course-form.html #}
{# keep this in sync with course/templates/course/manage-auth-tokens.html #}
{% block head_assets_form_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
  {% block form_description %}
    {% if form_description %}
      <h4 class="mt-5 mb-4 px-3 text-secondary">{{ form_description }}</h4>
{#      <hr>#}
      {{ form_text|safe }}
    {% endif %}
  {% endblock %}
  {% block form %}
    <div class="px-4">
      {% crispy form %}
    </div>
  {% endblock %}
{% endblock %}
