{% extends "course/static-page.html" %}
{% load i18n %}
{% load static %}

{% block page_content_advisories %}
  {% if course.hidden %}
    <div class="alert alert-info d-flex flex-row">
{#      <i class="bi bi-info-circle"></i>#}
      <img src="{% static 'images/preview.svg' %}" alt="" style="width: 3rem">

      <div class="ms-4 d-flex flex-row align-items-center">
      {% trans "This course is only visible to course staff at the moment." %}
      <a class="btn btn-secondary ms-3" href="{% url "relate-edit_course" course.identifier %}"
         role="button">{% trans "Change" context "change the visibility of a course" %}&nbsp;&raquo;</a>
      </div>
    </div>
  {% endif %}
  {% if not user.is_authenticated %}
    {% comment %}<div class="relate-well">
      {% trans "You're not currently signed in." %}
      <a class="btn btn-lg btn-primary" href="{% url student_sign_in_view %}?next={{ request.path }}"
        role="button">{% trans "Sign in" %}&nbsp;&raquo;</a>
    </div>{% endcomment %}

    <div class="alert alert-info d-flex flex-row mb-4">
      {% comment %}<i class="bi bi-lock"></i>
      {% url "relate-sign_in_choice" as relate-sign_in_choice %}{% endcomment %}
      <img src="{% static 'images/preview.svg' %}" alt="" style="width: 3rem">

      <div class="ms-3"><b>Preview Mode</b> <br>
        <span>You are accessing the preview mode for this course.  <a href="{% url student_sign_in_view %}?next={{ request.path }}" class="ms-2">Sign In &raquo;</a> to access full course content.</span></div>
      {#      <a href="{% url student_sign_in_view %}?next={{ request.path }}" class="btn btn-sm btn-outline-primary ms-2">Sign In &raquo;</a>#}
    </div>


    {% comment %} <div class="toast-container position-absolute bottom-0 end-0 p-3">
        <div class="toast align-items-center show" style="background: #f8d7da" role="alert" aria-live="assertive" aria-atomic="true" >
          <div class="d-flex">
            <div class="toast-body">
              Preview mode, you're not signed in.
              <a href="{% url student_sign_in_view %}?next={{ request.path }}" class="ms-2">Sign
                In
                &raquo;</a>
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>{% endcomment %}


  {% else %}

    {% if show_enroll_button %}
      <div class="alert alert-danger d-flex flex-row align-items-center mb-4">
        <i class="bi bi-info-circle me-2"></i>
        To get started with the course
        <form method="POST" action="{% url "relate-enroll" course.identifier %}">
          {% csrf_token %}
          <button type="submit" name="enroll" class="btn btn-secondary btn-sm mx-3">
            {% trans "Enroll" %}&nbsp;&raquo;
          </button>
        </form>
      </div>
    {% endif %}

  {% endif %}
{% endblock %}
