body {
    font-family: 'Nunito Sans', sans-serif !important;
    //font-family: 'Lato', sans-serif !important;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, .h1 {
  font-size: 2.1rem !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 600;
  line-height: 1.2;
  color: #410c96;
}

img {
  border-radius: 0.5rem;
}

.btn-rounded {
  border-radius: 10rem;
  padding: 0.4rem 1.5rem;
  width: 100%;
}


.navbar-brand {
  font-weight: 700 !important;
}

/* Original */



.well .start-well-title {
  margin-top:0;
}

table.past-flow-session-table th {
  margin-right:1em;
  border-bottom: 1px solid black;
}

table.past-flow-session-table td {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table th {
  padding-right:1em;
  padding-top:4px;
}

table.past-flow-session-table {
  margin-bottom: 2ex;
}

/* {{{ flow page */

/* bootstrap padding of well is 19px == (13+6)px */

.flow-nav {
}

.relate-flow-submit {
}

.relate-flow-page-menu {
}

.relate-flow-page-send-email {
}

.relate-flow-page-past-submissions {
}

.flow-session-expiration-panel {
}

.flow-session-expiration-panel .form-control {
}

/* styling tooltip arrow for inline question validation errors */
/* ref: http://stackoverflow.com/a/38279489/3437454*/
.tooltip-danger.tooltip-inner {
  text-align: left;
  background-color: #a94442;
}

[data-placement="bottom"] + .tooltip > .tooltip-danger.tooltip-arrow {
  border-bottom-color: #a94442;
}

code {
  /* Bootstrap: Hot pink for code? Really? */
  color: #333;
}

.relate-flow-page-toc {
  @extend .px-2;
}

@include media-breakpoint-down(md) {
  .relate-flow-page-toc {
    clear: both;
  }
}

.relate-flow-page-bookmark-button {
  @extend .btn-outline-secondary;
}
.relate-flow-page-bookmark-button.relate-bookmarked {
  background-color: #eccf09;
  border: none !important;
  color: white;
}
.relate-flow-page-bookmark-button.relate-bookmarked:hover {
  background-color: #eccf09;
  border: none !important;
  color: white;
}

.relate-flow-page-toc-item {
  min-width: 2em;
  margin-top: 6px;
  text-align: center;
}

.relate-flow-page-toc-item.relate-answered {
  background-color: #ddd;
}
.relate-flow-page-toc-item.relate-answered:hover {
  background-color: #ccc;
}

.relate-flow-page-toc-item.relate-bookmarked {
  background-color: #eccf09;
  border: none !important;
  color: white;
}
.relate-flow-page-toc-item.relate-bookmarked:hover {
  background-color: #eccf09;
  border: none !important;
  color: white;
}

.relate-flow-page-toc-item.relate-current {
  font-weight: bold;
  background-color: #525252;
  color: white;
  border: none;
}

.relate-session-duration {
  margin-top:1ex;
  text-align: center;
  background-color: #ddd;
  font-weight: bold;
  border-radius: 4px;
}

/* }}} */

/* {{{ histograms */

div.histogram > table {
  border: 0px;
}

td.histogram-title {
  vertical-align: top;
  padding-right: 1em;
}

td.histogram-bar-cell {
  min-width:500px;
}

td.histogram-bar-cell div.progress {
  margin-bottom:5px;
}

.stats-percentage {
  visibility:hidden;
}
div.progress:hover  span.stats-percentage{
  visibility:visible;
}

/* }}} */

/* {{{ calendar */

.fc-other-month {
  background: #eee;
}

.current-access-rule {
  background: #dcdcdc;
}

.result-figure-list dd {
  margin-top: 1ex;
  margin-left: 3em;
  margin-bottom: 1ex;
}

.calendar-descriptions dd {
  margin-left: 3em;
  margin-bottom: 1ex;
}

.relate-calendar-event:target .panel-heading {
  background-color: #ddf;
}

.relate-calendar-event:target .panel-body {
  background-color: #f8f8f8;
}

/* }}} */

.sandbox-page-editor {
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  padding-left:50px;
  padding-right:50px;
  bottom: 0;
  overflow-y: auto;
}
.sandbox-page-preview {
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow-y: auto;
  padding-left:50px;
  padding-right:50px;
}

@media (min-width: 768px) {
    .grading-page-student-work {
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
        overflow-y: auto;
    }

    .grading-page-grade-entry {
        position: absolute;
        top: 60px;
        right: 0;
        width: 50%;
        bottom: 0;
        overflow-y: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .grading-page-student-work.container > div {
        margin-left: 5px;
        margin-right: 5px;
    }

    .grading-page-grade-entry.container > div {
        margin-left: 5px;
        margin-right: 5px;
    }

    h1, .h1 {
        font-size: 30px;
    }

    h2, .h2 {
        font-size: 24px;
    }
}

.relate-participation-active {
}
.relate-participation-requested {
  color: blue;
}
.relate-participation-dropped {
  text-decoration: line-through;
  color: #bbb;
}
.relate-participation-denied {
  text-decoration: line-through;
  color: red;
}

.relate-invisible-grading-opportunity {
  color: #bbb;
}
.relate-invisible-grading-opportunity a {
  color: #7cf;
}

/* {{{ codemirror */

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
}

.CodeMirror.cm-s-relate-readonly {
  background-color: #e8e8e8;
}

div.relate-codemirror-container div.col-lg-8 {
  width: 100%;
}
div.relate-codemirror-container div.CodeMirror {
  height: calc(max(40vh, 40ex));
}

/* }}} */

.relate-btn-sm-vert-spaced {
  margin-bottom: 3px;
}


/* Uncomment to blur out identifiable/grade-related data. Useful for demos on live data. */
/*
.sensitive {
  color: transparent !important;
  text-shadow: 0 0 1.25em black;
}
a .sensitive {
  color: transparent !important;
  text-shadow: 0 0 1.25em #337ab7;
}
*/

.list-sign-in-methods {
  list-style: none;
  padding-start: 0;
  -webkit-padding-start: 0;
}
.list-sign-in-methods li {
  margin-bottom: 1ex;
}
.alert-info a {
  text-decoration: underline;
}
.alert-info a.btn {
  text-decoration: none;
}

/* if not using  "markdown.extensions.codehilite" extension */
div.cell.border-box-sizing.code_cell.rendered > div.input > div.inner_cell > div.input_area > pre {
  margin: 0;
}

div.rendered_html div.highlight {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #f7f7f7;
}

div.rendered_html div.highlight > pre {
    margin: 0.4em;
    background-color: transparent;
}

/* ipython notebook background color as white for version 5.4 */
.relate-notebook-container {
  background-color: #ffffff !important;
}

.relate-dropdown-menu {
  @extend .mx-2;
  @extend .dropdown;
  > a {
    @extend .link-dark;
    @extend .text-decoration-none;
    @extend .dropdown-toggle;
  }
  > ul {
    /* @extend .dropdown-menu; */ /* spelled out in HTML, needed for popper? */
    @extend .shadow;
  }
}

.relate-well {
  @extend .card;
  @extend .text-dark;
  @extend .bg-light;
  @extend .p-3;
  @extend .mb-3;
}

/* vim: set foldmethod=marker:sw=2 */

//.admonition, details {
//    padding: 15px;
//    margin-bottom: 20px;
//    border: 1px solid transparent;
//    border-radius: 4px;
//    text-align: left;
//}
//
//.admonition.note, details.note, .admonition.info, details.info {
//    color: #2e6b89;
//    background-color: #e2f0f7;
//    border-color: #bce8f1;
//}
//
//.admonition.warning, details.warning {
//    color: #7a6032;
//    background-color: #fffae5;
//    border-color: #fbeed5;
//}
//
//.admonition.danger, details.danger {
//    color: #7f3130;
//    background-color: #fde3e3;
//    border-color: #eed3d7;
//}
//
//.admonition-title, summary {
//    font-weight: bold;
//    text-align: left;
//}
//
//.admonition>p:last-child, details>p:last-child {
//    margin-bottom: 0;
//}





.admonition, .topic {
  margin: 1rem auto;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: var(--color-admonition-background);
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0 0.0625rem rgba(0, 0, 0, 0.1);
  font-size: var(--admonition-font-size);
  overflow: hidden;
  page-break-inside: avoid;

  // First element should have no margin, since the title has it.
  > :nth-child(2) {
    margin-top: 0;
  }

  // Last item should have no margin, since we'll control that w/ padding
  > :last-child {
    margin-bottom: 0;
  }
}

.admonition p.admonition-title, p.topic-title {
  position: relative;
  margin: 0 -0.5rem 0.5rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-weight: 500;
  font-size: var(--admonition-title-font-size);
  line-height: 1.3;

  // Our fancy icon
  &::before {
    content: "";
    position: absolute;
    left: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}

// Default styles
p.admonition-title {
  background-color: var(--color-admonition-title-background);
  &::before {
    background-color: var(--color-admonition-title);
    mask-image: var(--icon-admonition-default);
    mask-repeat: no-repeat;
  }
}

p.topic-title {
  background-color: var(--color-topic-title-background);
  &::before {
    background-color: var(--color-topic-title);
    mask-image: var(--icon-topic-default);
    mask-repeat: no-repeat;
  }
}

// Variants
.admonition {
  border-left: 0.2rem solid var(--color-admonition-title);
  @each $type, $value in $admonitions {
    &.#{$type} {
      border-left-color: var(--color-admonition-title--#{$type});
      > .admonition-title {
        background-color: var(--color-admonition-title-background--#{$type});
        &::before {
          background-color: var(--color-admonition-title--#{$type});
          mask-image: var(--icon-#{nth($value, 2)});
        }
      }
    }
  }
}

.admonition-todo > .admonition-title {
  text-transform: uppercase;
}


//ul {
//  list-style-type: none;
//
//  li {
//    &::marker {
//      content: "";
//      display: inline-block;
//      width: 16px; // Adjust according to your SVG size
//      height: 16px; // Adjust according to your SVG size
//      background: url('data:image/svg+xml;charset=utf-8,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="green" viewBox="0 0 20 20"> <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/> </svg>') no-repeat;
//      background-size: contain; // Adjust if necessary
//      margin-right: 8px; // Adjust spacing between marker and text
//      vertical-align: middle;
//    }
//  }
//}

//ul {
//  list-style-type: none;
//
//  li {
//    &::marker {
//      content: "";
//      display: inline-block;
//      width: 16px;
//      height: 16px;
//      background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20aria-hidden=%22true%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2210%22%20height=%2210%22%20fill=%22green%22%20viewBox=%220%200%2020%2020%22%3E%20%3Cpath%20d=%22M10%20.5a9.5%209.5%200%201%200%209.5%209.5A9.51%209.51%200%200%200%2010%20.5Zm3.707%208.207-4%204a1%201%200%200%201-1.414%200l-2-2a1%201%200%200%201%201.414-1.414L9%2010.586l3.293-3.293a1%201%200%200%201%201.414%201.414Z%22%3E%20%3C/path%3E%20%3C/svg%3E') no-repeat;
//      background-size: contain;
//      margin-right: 8px;
//      vertical-align: middle;
//    }
//  }
//}





